@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Cinzel+Decorative&display=swap');

#background-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

body {
	background: rgb(207, 207, 207);
}

h1 {
	font-family: 'Bodoni Moda', serif;
}

.logo {
	font-family: 'Cinzel Decorative', serif;
	font-size: 7vh;
}

.displayContainer {
	position: fixed;
	display: block;
	height: 40%;
	width: 100%;
}

.centerPseudo {
	display: inline-block;
	text-align: center;

}

.centerPseudo::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0px;
}

.center-horizontal {
	position: fixed;
    width: 100%;
}

.title-div {
	/*background: rgb(150, 138, 138);
	opacity: 0.8;*/
	color: rgb(240, 240, 240);;
	
	width: min-content; /*adapt to content*/
	margin: 0 auto; /*align block at the center of the page*/

	/*PRIDE period*/
	/*background: linear-gradient(45deg,red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0);
	background-clip: text;
	-webkit-text-fill-color: transparent;*/
}

.footer{
	position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-socials {
	margin: 0 auto; /*align block at the center of the page*/
	
	width: min-content; /*adapt to content*/
	padding: 10px;
	opacity: 1;
	/*background: rgb(240, 240, 240);
	*/
	/*PRIDE period*/
	/*
	background: linear-gradient(90deg,red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0);
	*/
	border-radius: 10%;
	display: flex; /* one row*/
	img {
		width: 5em;
		padding: 3px;
	}
	
	
}

